{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card my-3">
                <div class="card-body">
                    <header class="d-flex justify-content-between align-items-center mb-2">
                        <h3 class="mb-0">{{ object.title }}</h3>
                        <p class="font-weight-bold m-0" style="font-size: 1.5rem;">#{{ object.id }}</p>
                    </header>
                    <div class="meta">
                        <p>Created on <time>{{ object.created_at }}</time> by {{ object.manager|title }}</p>
                    </div>
                    <h5 style="text-decoration: underline;">Issue</h5>
                    <p class="card-text">
                        {{ object.description }}
                    </p>
                    <div class="toolbar">
                        <a href="{% url 'workorder-completed' object.id %}" class="btn bg-success pure-material-button-contained mr-2">Completed</a>
                        <a href="#" class="btn bg-primary pure-material-button-contained mr-2">Edit</a>
                        <form action="" method="POST">
                            <input type="submit" value="Delete" class="btn bg-danger pure-material-button-contained">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}