{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card my-3">
                <div class="card-body">
                    <header class="d-flex justify-content-between align-items-center mb-1">
                        <h3>{{ object.title }}</h3>
                        <div>
                            {% if order.priority == 2 %}
                                <span class="badge badge-danger">High Urgency</span>
                            {% elif order.priority == 1 %} 
                                <span class="badge badge-warning">Moderate Urgency</span>
                            {% else %}
                                <span class="badge badge-info">Low Urgency</span>
                            {% endif %}
                            {% if object.completed %}
                                <span class="badge badge-success">Completed</span>
                            {% endif %}
                        </div>
                    </header>
                    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab">Description</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="description-content">
                        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="detail-tab">
                            <ul>
                                <li>Ticket Number: {{ object.id }}</li>
                                <li>Created: {{ object.created_at|date:"M j, Y" }}</li>
                                <li>Created by: {{ object.manager|title }}</li>
                                <li>Site: {{ object.site }}</li>
                                <li>Cost: ${% if object.cost %}{{ object.cost }}{% else %}0.00{% endif %}</li>
                            </ul>
                        </div>  
                        <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <h5>{{ object.title }}</h5>
                            <p class="card-text">
                                {{ object.description }}
                            </p>
                        </div>  
                    </div>
                    {% if not object.completed %}
                    <div class="toolbar mt-5">
                        <a href="{% url 'workorder-completed' object.id %}" class="btn bg-success pure-material-button-contained mr-2">Completed</a>
                        <a href="{% url 'workorder-update' object.id %}" class="btn bg-primary pure-material-button-contained mr-2">Edit</a>
                        <form action="{% url 'workorder-delete' object.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn bg-danger pure-material-button-contained">
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}