{% extends 'base.html' %}

{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/core/main.css' %}">
{% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3 p-4 shadow">
            <h1 class="title text-center mt-1">Calendar</h1>
            <div id='calendar'></div>
            <div class="card popup d-none">
              <h5 class="mb-0"></h5>
              <hr class="mt-1">
              <p class="checkin"></p>
              <p class="checkout"></p>
              <p class="lot"></p>
              <p class="tele"></p>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="events" value="{% url 'events' %}">

{% endblock %}


{% block extraJS %}
<script src="{% static 'js/core/main.js' %}"></script>
<script src="{% static 'js/daygrid/main.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    function getReservations() {
      let url = document.querySelector('[name="events"]').value;
      console.log('In reservations')
  
      fetch(url)
        .then(response => response.json())
        .then(data => {
          var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid' ],
            eventLimit: true,
            views: {
              dayGrid: {
                eventLimit: 4
              }
            },
            events: data,
            customButtons: {
                map: {
                  text: 'map',
                  click: function() {
                    let url = window.location.origin + "/dashboard/";
                    window.location.href = url;
                  }
                }
              },
            header: {
                right: 'prev,next today map',
                left: 'title',
              },
            eventRender: function(info) {
                info.el.addEventListener('click', () => {
                  let popup = document.querySelector('.popup');
                  popup.querySelector('h5').innerHTML = "";
                  popup.querySelector('.checkin').innerHTML = "";
                  popup.querySelector('.checkout').innerHTML = "";
                  popup.querySelector('.lot').innerHTML = "";
                  popup.querySelector('.tele').innerHTML = "";
                  
                  popup.querySelector('h5').innerHTML += info.event.title;
                  popup.querySelector('.checkin').innerHTML += `<b>Check-In:</b> ${info.event.start.toDateString()}`;
                  popup.querySelector('.checkout').innerHTML += `<b>Check-Out:</b> ${info.event.end.toDateString()}`;
                  popup.querySelector('.lot').innerHTML += `<b>Lot:</b> ${info.event.extendedProps.site}`;
                  popup.querySelector('.tele').innerHTML += `<b>Telephone:</b> ${info.event.extendedProps.phoneNum}`;
                  popup.classList.toggle('d-none');
                })
            },
          });
      
          calendar.render();
        })
        .catch(err => console.log(err))
    }
  
    getReservations()
  });


</script>
{% endblock %}