{% extends 'base.html' %}

{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/core/main.css' %}">
{% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3 p-4 shadow">
            <h1 class="title text-center mt-1">Calendar</h1>
            <div id='calendar'></div>
        </div>
    </div>
</div>
<input type="hidden" name="events" value="{% url 'events' %}">

{% endblock %}


{% block extraJS %}
<script src="{% static 'js/core/main.js' %}"></script>
<script src="{% static 'js/daygrid/main.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    function getReservations() {
      let url = document.querySelector('[name="events"]').value;
      console.log('In reservations')
  
      fetch(url)
        .then(response => response.json())
        .then(data => {
          var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid' ],
            events: data,
            customButtons: {
                map: {
                  text: 'map',
                  click: function() {
                    window.location.href = "http://localhost:8000/dashboard/"
                  }
                }
              },
            header: {
                right: 'prev,next today map',
                left: 'title',
              },
            eventRender: function(info) {
                info.el.innerHTML += `<div class="card popup d-none">
                                        <h5 class="mb-0">${info.event.title}</h5>
                                        <hr class="mt-1">
                                        <p><b>Check-In:</b> ${dateFns.format(info.event.start, 'MMM d, YYYY')}</p>
                                        <p><b>Check-Out:</b> ${dateFns.format(info.event.end, 'MMM d, YYYY')}</p>
                                        <p><b>Lot:</b> ${info.event.extendedProps.site}</p>
                                        <p><b>Telephone:</b> ${info.event.extendedProps.phoneNum}</p>
                                      </div>`;

                info.el.classList.add('popup-parent');
                info.el.addEventListener('click', () => {
                    info.el.querySelector('.popup').classList.toggle('d-none');
                })
            },
          });
      
          calendar.render();
        })
        .catch(err => console.log(err))
    }
  
    getReservations()
  });


</script>
{% endblock %}