{% extends 'base.html' %}

{% load static %}

{% block content %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title mt-3 mb-0 pb-3">Clearwater Manager</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% include 'partials/_map.html' %}
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Form Error Messages -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <!-- Tool Bar -->
        <div class="toolbar">
          <div class="d-flex justify-content-left align-items-center">
            <a href="{% url 'avaliable' %}" class="btn pure-material-button-contained bg-primary mr-3" data-toggle="modal" data-target="#check-avaliability">Avaliablity</a>
            <button type="button" class="btn-plus bg-primary" data-toggle="modal" data-target="#customer-form-modal"><i class="fas fa-plus"></i></button>
          </div>
          <div class="btn btn-dark mt-2">
            Total Reservations
            <span class="badge badge-light badge-pill">{{ totalReservations }}</span>
          </div>
        </div>

        <!-- Notifications -->
        <div class="notifications-container mt-4">
          <h2 class="title-secondary">Checking Out Soon</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="reservation-table" class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center mb-3">Reservations</h2>
        <div id="accordion" class="d-md-none">
          {% for customer in customers %}
          <div class="card">
            <div class="card-header" id="heading-{{ customer.id }}">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#{{ customer.id }}" aria-expanded="true" aria-controls="{{ customer.id }}">
                  {{ customer.name }} | Site {{ customer.site }}
                </button>
              </h5>
            </div>

            <div id="{{ customer.id }}" class="collapse" aria-labelledby="heading-{{ customer.id }}" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Checkin: {{ customer.start|date:"M d Y" }}</li>
                  <li>Checkout: {{ customer.end|date:"M d Y" }}</li>
                  <li>Phone: {{ customer.phoneNum }}</li>
                </ul>
                <div>
                  <form method="POST" action="delete/{{ customer.id }}">
                    {% csrf_token %}
                    <button type="button" class="btn pure-material-button-contained bg-primary mobile-edit" data-id="{{ customer.id }}" data-toggle="modal" data-target="#edit-reservation">Edit</button>
                    <button type="submit" class="btn pure-material-button-contained bg-danger">Delete</button>
                  </form>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="table-responsive d-none d-md-block">
          <table id="tb" class="table table-striped display">
            <thead>
              <tr>
                <th scope="col" class="d-none">db-id</th>
                <th scope="col" class="mobile-hidden">#</th>
                <th scope="col">Name</th>
                <th scope="col">Check-in</th>
                <th scope="col">Check-out</th>
                <th scope="col">Lot</th>
                <th scope="col">Phone Number</th>
              </tr>
            </thead>
            <tbody>
              {% for customer in customers %}
              <tr>
                <th scope="row" class="d-none">{{ customer.id }}</th>
                <th scope="row" class="mobile-hidden">{{ forloop.counter }}</th>
                <td class="name"><button type="button" data-toggle="modal" data-target="#manage-reservation" data-id="{{ customer.id }}" class="btn-delete">{{ customer.name }}</button></td>
                <td class="checkin">{{ customer.start|date:"M d Y" }}</td>
                <td class="checkout">{{ customer.end|date:"M d Y" }}</td>
                <td class="site">{{ customer.site }}</td>
                <td>{{ customer.phoneNum }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Longterm" class="mb-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center mb-3">Longterm Residents</h2>
        <div id="accordion" class="d-md-none">
          {% for resident in longterms %}
          <div class="card">
            <div class="card-header" id="heading-{{ resident.id }}">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#{{ resident.id }}" aria-expanded="true" aria-controls="{{ resident.id }}">
                  {{ resident.name }} | Site {{ resident.site }}
                </button>
              </h5>
            </div>

            <div id="{{ resident.id }}" class="collapse" aria-labelledby="heading-{{ resident.id }}" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Checkin: {{ resident.start|date:"M d Y" }}</li>
                  <li>Checkout: {{ resident.end|date:"M d Y" }}</li>
                  <li>Phone: {{ resident.phoneNum }}</li>
                </ul>
                <div>
                  <form method="POST" action="delete/{{ resident.id }}">
                    {% csrf_token %}
                    <button type="button" class="btn pure-material-button-contained bg-primary mobile-edit" data-id="{{ resident.id }}" data-toggle="modal" data-target="#edit-reservation">Edit</button>
                    <button type="submit" class="btn pure-material-button-contained bg-danger">Delete</button>
                  </form>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="d-none d-md-block">
          <table id="tb-2" class="table table-striped display">
            <thead>
              <tr>
                <th scope="col" class="d-none">db-id</th>
                <th scope="col" class="mobile-hidden">#</th>
                <th scope="col">Name</th>
                <th scope="col">Check-in</th>
                <th scope="col">Check-out</th>
                <th scope="col">Lot</th>
                <th scope="col">Phone Number</th>
              </tr>
            </thead>
            <tbody>
              {% for resident in longterms %}
              <tr>
                <th scope="row" class="d-none">{{ resident.id }}</th>
                <th scope="row" class="mobile-hidden">{{ forloop.counter }}</th>
                <td class="name"><button type="button" data-toggle="modal" data-target="#customer-delete" class="btn-delete">{{ resident.name }}</button></td>
                <td class="checkin">{{ resident.start|date:"M d Y" }}</td>
                <td class="checkout">{{ resident.end|date:"M d Y" }}</td>
                <td class="site">{{ resident.site }}</td>
                <td>{{ resident.phoneNum }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="customer-form-modal" tabindex="-1" role="dialog" aria-labelledby="customer-form-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Reservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'partials/_add-customer-form.html' %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="manage-reservation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="form">
    <div class="modal-content">
      <div class="modal-header edit-header">
        <h5 class="modal-title">Manage Reservation</h5>
      </div>
      <div class="modal-body">
        <form class="delete-form" method="POST">
          {% csrf_token %}
          <button type="button" class="btn pure-material-button-contained bg-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="edit btn pure-material-button-contained bg-primary" data-dismiss="modal" data-toggle="modal" data-target="#edit-reservation">Edit</button>
          <button type="submit" class="btn delete pure-material-button-contained bg-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-reservation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="form">
    <div class="modal-content">
      <div class="modal-header edit-header">
        <h5 class="modal-title">Edit Reservation</h5>
      </div>
      <div class="modal-body">
        {% include 'partials/_edit-reservation.html' %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="site-info" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Site Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="content py-2 px-3" contenteditable="true"></p>
        <button type="button" data-dismiss="modal" class="btn btn-primary save" aria-label="Save">
          Save
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="check-avaliability" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Check Avaliablity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'avaliable' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="checkin">Check-in</label>
            <input type="datetime-local" class="form-control" id="checkin" name="checkin" placeholder="Check-in date">
          </div>
          <div class="form-group">
            <label for="checkout">Check-out</label>
            <input type="datetime-local" class="form-control" id="checkout" name="checkout" placeholder="Check-out date">
          </div>
          <button type="button" class="btn pure-material-button-contained bg-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn pure-material-button-contained bg-primary">Check</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extraJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/addons/cleave-phone.us.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>

  var cleave = new Cleave('.input-phone', {
    phone: true,
    phoneRegionCode: 'us'
  });
  var cleave = new Cleave('.edit-phone', {
    phone: true,
    phoneRegionCode: 'us'
  });
</script>
{% endblock %}