{% extends 'base.html' %}

{% load static %}

{% block extraCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
      <div class="container">
          <h1 class="lead h1 mb-4 mt-5">Login</h1>
      </div>
    <form method='POST' action="#">
        {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
{% endblock %}