{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="py-3 px-sm-0 px-md-5">
                <h1 class="text-center">Avaliable Sites</h1>
                <p class="text-center">Checkin: {{ checkin }} Checkout: {{ checkout }}</p>
                <div class="mb-3">
                    <a href="{% url 'home' %}" class="btn btn-primary">Dashboard</a>
                    <a href="{% url 'calendar' %}" class="btn btn-primary">Calendar</a>
                </div>
                <ul class="list-group">
                    {% for site in sites %}
                    <li class="list-group-item">{{ site }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}