{% extends 'base.html' %}

{% load static %}

{% block extraCSS %} 
<style>
    .active {
        fill: rgb(49, 228, 49) !important;
    }
</style>
{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col py-3 px-sm-0 px-md-5">
            <h1 class="text-center">Avaliable Sites</h1>
            <p class="text-center"><strong>Checkin:</strong> {{ checkin }} <strong>Checkout:</strong> {{ checkout }}</p>
            <div>
                {% include "partials/_map.html" %}
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="py-3 px-sm-0 px-md-5">
                <h5 class="text-center">Select a Site</h5>
                <ul class="list-group">
                    {% for site in sites %}
                    <li 
                        class="list-group-item" 
                        style="cursor: pointer;"
                        data-toggle="modal" 
                        data-target="#customer-form-modal"
                        onclick="handleForm(event)">{{ site }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% include "partials/_add_reservation_form.html" %}
{% endblock %}

{% block extraJS %} 
<script data-sites="{{ sites }}"></script>
<script>
    const openSites = eval(document.querySelector("[data-sites]").dataset.sites);
    const mapSites = document.querySelectorAll("[data-site]");

    function handleForm(ev) {
        document.querySelector('[name="site"]').value = ev.target.innerText.trim();
        document.querySelector('[name="end"]').value = '{{ end }}'
        document.querySelector('[name="start"]').value = '{{ start }}'
    }

    for (siteNum of openSites) {
        try {
            document.querySelector(`[data-site="${siteNum}"`).classList.add("active");
        } catch (error) {
            console.log(error);
        }
    }
</script>
{% endblock %}